{% extends "base.html" %} {% block content %}

<head>
    <!-- <link rel="stylesheet" href="../static/css/login.css" />
    <script type="text/javascript" src="../static/scripts/login.js" defer></script> -->
</head>

<body>
    <div class="login-page">
        <div class="form-with-header">
            <section>
                <h2>Logowanie</h2>
                <div class="form">
                    <form name="form" method="POST" action="/sender/login" enctype="multipart/form-data">
                        <ul>
                            <div class="form-element">
                                <input idF="username" name="username" type="text" placeholder="Nazwa Użytkownika" required>
                            </div>

                            <div class="form-element">
                                <input id="password" name="password" type="password" placeholder="Hasło" required>
                            </div>

                            <div class="form-element-submit">
                                <input type="submit" name="submit" value="Zaloguj się">
                            </div>
                        </ul>
                    </form>
                </div>
            </section>
        </div>
        <div class="auth0">
            <section>
                <h2>AUTH0</h2>
                <div class="auth0-form">
                    <form name="auth0-form" action="/auth/login">
                        <input type="submit" name="submit" value="Zaloguj się (Auth0)">
                    </form>
                </div>
            </section>
        </div>
    </div>
</body>

{% endblock %}