{% extends "base.html" %} {% block content %}

<head>
    <!-- <link rel="stylesheet" href="../static/css/register.css" />
    <script type="text/javascript" src="../static/scripts/register.js" defer></script> -->
</head>

<body>
    <div class="section">
        <div class="form-with-header">
            <section>
                <h2>Zarejestruj się</h2>
                <p>Podaj następujące dane :</p>
                <div class="form">
                    <form name="form" method="POST" action="/sender/register" enctype="multipart/form-data">
                        <ul>
                            <div class="form-element">
                                <label for="firstname"><b>Imię:</b></label>
                                <input id="firstname" name="firstname" type="text" placeholder="Podaj swoje imię" required>
                            </div>

                            <div class="form-element">
                                <label for="lastname"><b>Nazwisko:</b></label>
                                <input id="lastname" name="lastname" type="text" placeholder="Podaj swoje nazwisko" required>
                            </div>

                            <div class="form-element">
                                <label for="username"><b>Nazwa Użytkownika:</b></label>
                                <input id="username" name="username" type="text" placeholder="Podaj swój login" required>
                            </div>

                            <div class="form-element">
                                <label for="email"><b>Email:</b></label>
                                <input id="email" name="email" type="text" placeholder="Podaj swój email" required>
                            </div>

                            <div class="form-element">
                                <label for="password"><b>Hasło:</b></label>
                                <input id="password" name="password" type="password" placeholder="Podaj swoje hasło" required>
                            </div>

                            <div class="form-element">
                                <label for="password1"><b>Powtórz Hasło:</b></label>
                                <input id="password1" name="password1" type="password" placeholder="Powtórz hasło" required>
                            </div>

                            <div class="form-element">
                                <label for="address"><b>Adres:</b></label>
                                <input id="address" name="address" type="text" placeholder="Podaj swój adres" required>
                            </div>

                            <div class="form-element-submit">
                                <input type="submit" name="submit" value="Zarejestruj się">
                                <!-- <input type="submit" name="submit" value="Zarejestruj się" class="form-submit-disabled"> -->
                            </div>
                        </ul>
                    </form>
                </div>
            </section>
        </div>
    </div>
</body>

{% endblock %}