{% extends "base.html" %} {% block content %}

<head>
    <!-- <link rel="stylesheet" href="../static/css/dashboard.css" /> -->
    <script type="text/javascript" src="../static/scripts/dashboard.js" defer></script>
</head>

<body>
    <!--     <div class="dashboard-header">
        <section>
            <h2>Witaj {{session['username']}}</h2>
        </section>
    </div> -->


    <div class="labels-table">
        <section id="dashboard-table" name="dashboard-table">
            <h2>Twoje Etykiety</h2>
            <table id="label-table" name="label-table">
                <thead>
                    <tr>
                        <th>Id Paczki</th>
                        <th>Rozmiar Paczki</th>
                        <th>Id Docelowej Skrytki</th>
                        <th>Nazwa Adresata</th>
                        <th>Czy Nadana?</th>
                    </tr>
                </thead>
                <tbody id="table-body" name="table-body"></tbody>
            </table>
        </section>
    </div>


    <div class="add-labels-form">
        <section id="add-labels-section" name="add-labels-section">
            <h2>Dodaj Etykietę</h2>
            <form id="add-label-form" name="add-label-form">
                <ul>
                    <input id="receiver_name" name="receiver_name" type="text" placeholder="Nazwa Adresata" required />
                    <input id="parcel_locker_id" name="parcel_locker_id" type="text" placeholder="Identyfikator Docelowej Skrytki" required />
                    <input id="package_size" name="package_size" type="text" placeholder="Rozmiar Paczki" required />
                </ul>
            </form>
            <button id="add-label-button">Dodaj Etykietę</button>
        </section>
    </div>


    <!--     <div class="delete-labels-form">
        <section id="delete-label-section" name="delete-label-section">
            <h2>Usuń Etykietę</h2>
            <form id="delete-label-form" name="delete-label-form">
                <ul>
                    <li><input id="label_id" name="label_id" type="text" placeholder="Id Etykiety" required />
                    </li>
                </ul>
            </form>
            <button id="delete-label-button" name="delete-label-button">Usuń Etykietę</button>
                    <ul>
                <li><button id="add-button">Dodaj Etykietę</button></li>
            </ul>
    </section>
    </div> -->

</body>

{% endblock %}