{% extends "base.html" %} {% block content %}

<head>
    <!-- <link rel="stylesheet" href="../static/css/home.css" /> -->
</head>

<body>
    <div class="cards">

        <div class="card">
            <section>
                <h2>Nasza Misja</h2>
                <p>
                    Oferowanie klientom wygodnej opcji doręczeń oraz niezawodnych usług pomagających Ci rozwinąć biznes.
                </p>
            </section>
        </div>

        <div class="card">
            <section>
                <h2>Opinie Klientów</h2>
                <p>
                    ,,Muszę przyznać że jestem pod wrażeniem tak szybkiego czasu doręczenia paczki."- Marek M.
                </p>
                <p>
                    ,,Dobra firma, lubię zamawiać Wasze usługi."- Martyna K.
                </p>
                <p>
                    ,,Firma świadczy tak dobre usługi, że chciałbym oddać jej wszystkie moje oszczędności."- Janek K.
                </p>
            </section>
        </div>
    </div>
</body>

{% endblock %}