{% extends "base.html" %} {% block content %}

<head>
    <!-- <link rel="stylesheet" href="../static/css/notifications.css" /> -->
    <script type="text/javascript" src="../static/scripts/notifications.js" defer></script>
</head>

<body>
    <div class="notifications-header">
        <section>
            <h2>Twoje powiadomienia</h2>
        </section>
    </div>

    <div class="notifications-section">
        <section>
            <p style="visibility: hidden" id="no-notifications" name="no-notifications">W tej chwili nie masz żadnych powiadomień
            </p>
            <ul id="notifications" name="notifications"></ul>
        </section>
    </div>
    <button id="delete-notifications" name="delete-notifications">Usuń Powiadomienia</button>
</body>

{% endblock %}